:root{
--Lt-blue: #C9E3F7;
--Dk-blue: #476787;
--gray: #495F5C;
--white: #fff;
--black: #000000;

--font: 'times','sans-serif''cursive';
width: 1440;
}

body{

    background-color: var(--Lt-blue);
   min-height: 100vh; 
}

.header-container{
  background-image: url(image/swiss-valley.jpg); 
   height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  z-index: 1000;
}

nav{
    width: 50%;
    margin: 0 auto;
}

nav ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 0;
    margin: 1em 0;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.h2-index{
text-align: center;
}


.content-container{
display: flex; 
  flex-direction: column; 
  flex-wrap: wrap; 
  height: 200px; 
text-align: center;
}

.item {
  width: 48%; 
  margin-bottom: 10px; 
}

.contact-container{
display: flex; 
  flex-direction: column; 
  flex-wrap: wrap; 
  height: 200px; 
text-align: center;
}

.contact-container h2{
text-align: left;
padding-left: 3.2cm;
}

.gap{
padding: 20px;
}

form{
margin-top: 70px;
}

button:hover{
background-color: var(--Dk-blue);
}

footer {
margin-top: 30em;
text-align: center;
}